@model kho2222.Models.inventory

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>inventory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.maHG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.maHG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.namSX)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.namSX)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.soluong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.soluong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tongtien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tongtien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kho.tenkho)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kho.tenkho)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
