<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Watch shop | eCommers</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/img/favicon (1).ico">

    <!-- CSS here -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets/css/flaticon.css">
    <link rel="stylesheet" href="~/assets/css/slicknav.css">
    <link rel="stylesheet" href="~/assets/css/animate.min.css">
    <link rel="stylesheet" href="~/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="~/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/assets/css/themify-icons.css">
    <link rel="stylesheet" href="~/assets/css/slick.css">
    <link rel="stylesheet" href="~/assets/css/nice-select.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
</head>
@using kho2222.Models
@{ int tongtien = 0;
    int dem = 0;
    string mak = null;
    if (Session["mak"] != null)
    {
         mak = Session["mak"].ToString();

    }
    if (Session["giohang"] != null)
    {
        List<giohang> ds1 = (List<giohang>)Session["giohang"];
        foreach (giohang sp in ds1)
        {
            tongtien += sp.sl * sp.price;
        }
        dem = ds1.Count();
    }
}
<body>
    <!--? Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="~/assets/img/logo/logo.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <header>
        <!-- Header Start -->
        <div class="header-area">
            <div class="main-header header-sticky">
                <div class="container-fluid">
                    <div class="menu-wrapper">
                        <!-- Logo -->
                        <div class="logo">
                            <a href="~/Home/Index"><img src="~/assets/img/logo/81a81e84855291.5d69fe2710f54.jpg" alt="" style="width:130px;height:110px;"></a>
                        </div>
                        <!-- Main-menu -->
                        <div class="main-menu d-none d-lg-block">
                            <nav>
                                <ul id="navigation">
                                    @*<li><a href="index.html">Home</a></li>*@
                                    <li>
                                        <a class="nav-link" href="~/ChonHang/Index">
                                            <div class="sb-nav-link-icon"><i class="fa fa-cart-plus" aria-hidden="true"></i></div>
                                            Chọn hàng
                                        </a>
                                    </li>

                                    @*<li><a href="about.html">about</a></li>*@
                                    <li class="hot">
                                        <a href="">Kho</a>
                                        <ul class="submenu">
                                            @*<li><a href="~/khoes/Index"> kho</a></li>*@
                                            <li><a href="~/inventories/Index?mak=@mak">  Trong kho </a></li>
                                            
                                        </ul>
                                    </li>
                                    <li class="hot">
                                        <a href="">Nhập hàng </a>
                                        <ul class="submenu">
                                            @*<li><a href="~/khoes/Index"> kho</a></li>*@
                                            <li><a href="~/phieunhaps"> Phiếu nhập </a></li>
                                            <li><a href="~/CTphieunhaps/Index?mak=@mak"> CT Phiếu nhập </a></li>
                                            
                                        </ul>
                                    </li>
                                     <li class="hot">
                                        <a href="">Nhập hàng </a>
                                        <ul class="submenu">
                                            @*<li><a href="~/khoes/Index"> kho</a></li>*@
                                            <li><a href="~/phieunhaps"> Phiếu nhập </a></li>
                                            <li><a href="~/CTphieunhaps/Index?mak=@mak"> CT Phiếu nhập </a></li>
                                            
                                        </ul>
                                    </li>
                                    @*<li>
                                            <a href="blog.html">Blog</a>
                                            <ul class="submenu">
                                                <li><a href="blog.html">Blog</a></li>
                                                <li><a href="blog-details.html">Blog Details</a></li>
                                            </ul>
                                        </li>*@
                                    @*<li>
                                            <a href="#">Pages</a>
                                            <ul class="submenu">
                                                <li><a href="login.html">Login</a></li>
                                                <li><a href="cart.html">Cart</a></li>
                                                <li><a href="elements.html">Element</a></li>
                                                <li><a href="confirmation.html">Confirmation</a></li>
                                                <li><a href="checkout.html">Product Checkout</a></li>
                                            </ul>
                                        </li>*@
                                    <li>
                                        <a id="tt" class="nav-link" href="~/Cart/Index">
                                            <div class="sb-nav-link-icon"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></div>
                                            Giỏ hàng
                                        </a>
                                    </li>
                                    <li>
                                        <a class="nav-link" href="~/khs/Index">
                                            <div class="sb-nav-link-icon"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></div>
                                            Khách hàng
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <!-- Header Right -->
                        <div class="header-right">
                            <ul>
                                @*<li>
                                        <div class="nav-search search-switch">
                                            <span class="flaticon-search"></span>
                                        </div>
                                    </li>*@

                                @*-----------------*@

                                @*<form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">*@

                                @*<input class="form-control" type="text" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2" />*@


                                @*<li>
                                         <a href="cart.html"><span class="flaticon-shopping-cart"></span></a>
                                    </li>*@
                                <li>
                                    @*<a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-shopping-cart" aria-hidden="true"></i> : @ViewBag.giohangcount</a>*@
                                    <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-shopping-cart text-black-50" aria-hidden="true"></i> :@if (dem > 0)
                                        {@dem}
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                                        @if (Session["giohang"] != null)
                                        {

                                            List<giohang> ds = (List<giohang>)Session["giohang"];
                                            foreach (giohang sp in ds)
                                            {
                                                @*@(tongtien+= sp.sl *sp.price);*@


                                                <div class="dropdown-item-text">
                                                    <a class="dropdown-item" href="#" style="color:#007bff;">@sp.id</a>
                                                    <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
                                                        <div class="input-group">
                                                            <span class="input-group-prepend">
                                                                <a class="input-group-text" type="button" href="~/ChonHang/them?id=@sp.id.ToString()"> +</a>
                                                            </span>
                                                            <input class="form-" type="text" style="margin-top:30px; width:40px; height:40px" value="@sp.sl" disabled />
                                                            <span class="input-group-prepend">
                                                                <a class="input-group-text" type="button" href="~/ChonHang/tru?id=@sp.id.ToString()">-</a>
                                                            </span>
                                                            <span class="input-group-prepend">
                                                                <a class="input-group-text" type="button" href="~/ChonHang/bo?id=@sp.id.ToString()"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                                                            </span>
                                                        </div>

                                                    </div>
                                                </div>
                                                <a class="dropdown-item" href=""> @(string.Format("{0:#,##0}",sp.price*sp.sl)) Vnđ</a>

                                                @*<a class="dropdown-item" href="~/Home/logout">Logout</a>*@

                                            }
                                        }
                                        <div class="dropdown-item-text">
                                            <span style="color:#ff6a00">Tổng: @(string.Format("{0:#,##0}",tongtien))đ</span>
                                            <a id="thanhtoan" class="btn btn-primary" href="~/Cart/Index"> Thanh Toán </a>
                                        </div>
                                    </div>

                                </li>












                                @*<li> <span class="flaticon-user"> :</span></li>*@
                                <li class="nav-item dropdown bg-dark">
                                    @if (Session["tk"] != null)
                                    {

                                        <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fas fa-user fa-fw"></i> :<span style="color : red"> @Session["tk"]</span></a>


                                    }
                                    @if (Session["tk"] == null)
                                    {
                                        <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                                    }

                                    <span class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                                        <a style="padding-right:0%" class="dropdown-item" href="~/Home/logout">Logout</a>
                                    </span>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <!-- Mobile Menu -->
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>
    <main class="container text-black-50">
        @RenderBody()
    </main>
    <footer>
        <!-- Footer Start-->
        <div class="footer-area footer-padding">
            <div class="container">

                <!-- Footer bottom -->
                <div class="row align-items-center">
                    <div class="col-xl-7 col-lg-8 col-md-7">
                        <div class="footer-copy-right">
                            <p>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> Tạo  <i class="fa fa-heart" aria-hidden="true"></i> by Long laptop <a href="https://colorlib.com" target="_blank">Long laptop</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-4 col-md-5">
                        <div class="footer-copy-right f-right">
                            <!-- social -->
                            <div class="footer-social">
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="https://www.facebook.com/sai4ull"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-behance"></i></a>
                                <a href="#"><i class="fas fa-globe"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End-->
    </footer>
    <!--? Search model Begin -->
    <div class="search-model-box">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-btn">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Searching key.....">
            </form>
        </div>
    </div>
    <!-- Search model end -->
    <!-- JS here -->
    <!-- All JS Custom Plugins Link Here here -->
    <script src="~/assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="~/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="~/assets/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <script src="~/assets/js/slick.min.js"></script>

    <!-- One Page, Animated-HeadLin -->
    <script src="~/assets/js/wow.min.js"></script>
    <script src="~/assets/js/animated.headline.js"></script>
    <script src="~/assets/js/jquery.magnific-popup.js"></script>

    <!-- Scroll up, nice-select, sticky -->
    <script src="~/assets/js/jquery.scrollUp.min.js"></script>
    <script src="~/assets/js/jquery.nice-select.min.js"></script>
    <script src="~/assets/js/jquery.sticky.js"></script>

    <!-- contact js -->
    <script src="~/assets/js/contact.js"></script>
    <script src="~/assets/js/jquery.form.js"></script>
    <script src="~/assets/js/jquery.validate.min.js"></script>
    <script src="~/assets/js/mail-script.js"></script>
    <script src="~/assets/js/jquery.ajaxchimp.min.js"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="~/assets/js/plugins.js"></script>
    <script src="~/assets/js/main.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>