@model kho2222.Models.CThoadon

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CThoadon</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.namSX)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.namSX)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.soluong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.soluong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.giaban)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.giaban)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.thanhtien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.thanhtien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hang.tenHG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hang.tenHG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hoadon.tk)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hoadon.tk)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kho.tenkho)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kho.tenkho)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
