@model IEnumerable<kho2222.Models.loaiHG>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tenLH)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tenLH)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.maLH }) |
            @Html.ActionLink("Details", "Details", new { id=item.maLH }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.maLH })
        </td>
    </tr>
}

</table>
