@model IEnumerable<kho2222.Models.tk>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.mk)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.kho.tenkho)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.chucvu)

        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.chucvu)*@

        </th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.mk)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.kho.tenkho)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.chucvu)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.tk1 }) |
        @Html.ActionLink("Details", "Details", new { id = item.tk1 }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.tk1 })
    </td>
</tr>
}

</table>
